{% extends "layout.html" %} 
{% block content %}

<!--Div for banner -->
<div class="banner">
    <div class="mp text-center">
        <p class="mp-text">Scroll</p>
        <!-- Use CSS to animate scroll line -->
        <div class="svg-area">
          <svg width="950px" height="400px">
            <rect class="slide-bottom" x="380" y="0" stroke="white" 
            width=2px height=75px fill="white"/>
          </svg>
        </div>
    </div>
  </div>

  <!-- Container for the site information section -->
  <div class="container">
      <div class="row">
        <!-- Div for Summary Box -->
        <div class="col-md-8">
          <div class="summary">
            <!-- Summary Box Heading -->
            <div class="summary-heading">
                <h1 class="sh-text">One Penny At A Time</h1>
                <p class="sh-text1">Let's Grow Your Wealth</p>
            </div>
            <!--Site Info-->
            <div>
              <p>
                They say when you come across a penny on the ground showing heads up it's a lucky penny, and you should
                pick it up; however, if it's tails up, it's unlucky, and you should just leave it on the ground. We're
                here to turn that unlucky penny over to bring the luck to you and grow your wealth.
              </p>
              <p>
                To do so, we've built a tool to help you explore stock information for those found in the Russell 1000 Index. Russell describes the index as:
              </p>
              <p class="summary-text2" style="margin-left: 20px; margin-right: 50px;">
                The Russell 1000® Index measures the performance of the large-cap segment of the US equity universe. It is a subset of the Russell 3000® Index and includes approximately 1,000 of the largest securities based on a combination of their market cap and current index membership. The Russell 1000® represents approximately 92% of the US market. The Russell 1000® Index is constructed to provide a comprehensive and unbiased barometer for the large-cap segment and is completely reconstituted annually to ensure new and growing equities are included.
              </p>
              <p>
                Go to our calculator tool to explore which stock to purchase based on how much you want to spend. 
              </p>
            </div>
          </div>
        </div>
        <!-- Div for Meet the Creators-->
        <div class="col-md-4">
          <div class="creators" id="team-box">
            <h3 class="creator-title">Our MI6 Team</h3>
            <hr>
            <p class="agent-name">M</p>
            <p class="part">Our master of JavaScript.</p>
            <p class="part">Part played by: Emerald</p>
            <p class="agent-name">Bond</p>
            <p class="part">The undercover Python agent.</p>
            <p class="part">Part played by: Pramod</p>
            <p class="agent-name">Miss Money Penny</p>
            <p class="part">The HTML and CSS admin.</p>
            <p class="part">Part played by: Jasmine</p>
          </div>
        </div>
      </div>
  </div>

  </div>
  <!-- Div for JQuery exploding text -->
  <div  style="padding:100px;text-align: center;background-color: darkgrey;">
    <button type="button" id="explode-button" class="btn-main">
      <span class="target" id="hide" style="color: yellow;font-size: xx-large;">Accept Mission</span>
    </button>
    <!-- <span class="target" id="hide" style="color: yellow;font-size: xx-large;">Accept Mission</span> -->
    <!-- <span onclick="fx(this)">Accept Mission</span> -->
  </div>

{% endblock %}