{% extends "layout.html" %} 
{% block myscripts %}

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] 
    {
      -moz-appearance: textfield;
    }
    </style>

{% endblock %}

{% block content %}

<!-- Input, Buttons and Gauge-->
<div class="container">
    <div class="input-area">
        <div class="row">
            <div class="col-md-6" style="padding-top: 55px;">
                <label for="spend-amount">I want to spend: $</label>
                <input type="number" id="spend-amount" name="spend-amount" min="0.00" max="1000000.00" value="0.00" step=".50">
                <div class="buttons">
                    <button type="button" id="get-stocks" name="get-stocks" class="get-button">Get Stocks</button>
                    <button type="button" id="reset" name="reset" class="reset-button">Reset Table</button>
                </div>
            </div>
             <!-- Div for guage -->
            <div class="col-md-6" id="gauge">
            </div>
        </div>
    </div>
</div>

<!-- Div for stocks table -->
<div class="charts" style="padding-left: 20px;">
    <div class="row">
         <!-- stock table -->
        <div class="col-md-7">
            <table class="stock-table table table-striped table-hover">
                <thead class="stock-table-head">
                    <tr>
                        <th>Qty</th>
                        <th>Ticker</th>
                        <th>Company Name</th>
                        <th>Price</th>
                        <th>Dividend</th>
                        <th>ROI (%)</th>
                    </tr>
                </thead>
                <tbody class="stock-table-body">
                   <!-- table row/col in js -->
                </tbody>
            </table>
        </div>
    <!-- pie chart -->
        
        <div id="pie-chart" class="col-md-5">

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- <script src="app.js"></script> -->
<script src="../static/data/openClose.json"></script>
<script src="../static/js/app.js"></script>
<script>
function myFunction() 
{
  var element = document.body;
//   element.classList.toggle("dark-mode");
  $('body').toggleClass('dark-mode');
  $('.charts').toggleClass('dark-mode');
  $('table').toggleClass('table-dark');
}
</script>
{% endblock %}

