{% extends "layout.html" %} 
{% block myscripts %}

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] 
    {
      -moz-appearance: textfield;
    }
    </style>

{% endblock %}

{% block content %}
<DIV class="container">
    <!-- Input Form Area -->
    <div class="input-form">
        <form action="/result1" method="post">
            <label for="istock">Your Stock</label>
            <input type="text" id="istock" name="istock"><br><br>
            <label for="industry">Industry</label>
            <input type="text" id="industry" name="industry"><br><br>
            <label for="price">Price Range</label>
            <input type="text" id="price" name="price"><br><br>
            <label for="roi">ROI Range</label>
            <input type="text" id="roi" name="roi"><br><br>
            <label for="risk_tolerane">Risk Tolerance</label>
            <input type="text" id="risk_tolerane" name="risk_tolerane"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Stock Table -->
    <div class="stock-table">
        <table class="stock-table table table-striped table-hover">
            <thead class="stock-table-head">
                <tr>
                    <th>Ticker</th>
                    <th>Company Name</th>
                    <th>Industry</th>
                    <th>Price</th>
                    <th>Dividend</th>
                    <th>ROI (%)</th>
                </tr>
            </thead>
            <tbody class="stock-table-body">
               <!-- table row/col in js -->
            </tbody>
        </table>
    </div>

</DIV>

{% endblock %}